---
import BaseLayout from "../layouts/BaseLayout.astro";
import { ustadzList } from "../data/ustadzList.js";
---

<BaseLayout title="Ustadz Sunnah" sideBarActiveItemID="ceramah">
  <div class="text-3xl font-bold mb-6">Daftar Ustadz Sunnah</div>

  <div class="space-y-4">
    {ustadzList.map((ustadz) => (
      <a
        href={`/ustadz/${ustadz.id}`}
        class="block bg-white p-4 rounded shadow hover:bg-gray-100 transition"
      >
        <div class="font-bold text-xl">{ustadz.name}</div>
        <p>{ustadz.description}</p>
      </a>
    ))}
  </div>
</BaseLayout>
