---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Saya seorang <b>Junior programmer</b> dengan pengalaman dalam berbagai bahasa
    pemrograman seperti JavaScript dan PHP. Saya telah mencoba berbagai framework
    seperti <b>
      React JS, Vue JS, Nuxt JS, Astro JS, CodeIgniter, dan Laravel.
    </b>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="D3 Manajement Informatika"
      subtitle="Universitas Bina Sarana Informatika"
    />
    <TimeLineElement
      title="S1 Sistem Informasi"
      subtitle="STMIK Nusa Mandiri"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="PT Rafesh" subtitle="Mahasiswa Magang">
      Jobdesk
      <li>Menginput keluar masuknya barang dengan excel</li>
      <li>Mencatat persediaan barang</li>
      <li>Membantu dalam mendesign barang</li>
      <br />
      Tools
      <li>Ms.Excel</li>
      <li>Ms.Word</li>
      <li>Pulpen</li>
      <li>Photoshop</li>
      <li>Kertas</li>
      <br />
    </TimeLineElement>
    <TimeLineElement
      title="Pt Xeranta matra solusi"
      subtitle="Software Developer"
    >
      <li>Maintenance website</li>
      <li>Mendesign tampilan surat</li>
      <li>Troubleshoting of bug</li>
      <br />
      Tools
      <li>Eclipse</li>
      <li>Navicat</li>
      <li>Java</li>
      <li>Springboots</li>
      <li>Boostrap</li>
      <li>Css</li>
      <li>Beyonce compare</li>
      <li>Ireport</li>
      <br />
    </TimeLineElement>
    <TimeLineElement title="Freelance" subtitle="IT Suport">
      <li>Konfigurasi jaringan</li>
      <li>Membantu ketika ada masalah di pc</li>
      <li>Melakukan instal ulang</li>
      <br />
    </TimeLineElement>
    <TimeLineElement
      title="PT Metropolitan Retailmart"
      subtitle="Msr Developer"
    >
      <li>Membuat notifikasi email</li>
      <li>Membuat game</li>
      <li>Troubleshoting of bug</li>
      <li>Mengechek data di solr</li>
      <br />
      Tools
      <li>Visual studio code</li>
      <li>Golang</li>
      <li>Php</li>
      <li>Codeigniter</li>
      <li>JavaScript</li>
      <li>Css</li>
      <li>Html5</li>
      <li>Boostrap</li>
      <li>Razor</li>
      <li>Postman</li>
      <li>Solr</li>
      <li>Git</li>
      <br />
    </TimeLineElement>
    <TimeLineElement
      title="PT Summit Global Teknology"
      subtitle="Frontend Engineer"
    >
      <li>Membuat landingpage usp hp infinix series 40</li>
      <li>Mentranslate landingpage ke berbagai bahasa</li>
      <li>Mengenerate chatbot.ai</li>
      <br />
      Tools
      <li>IntelliJ IDEA</li>
      <li>Vue js</li>
      <li>Nuxt</li>
      <li>Html5</li>
      <li>Css</li>
      <li>Claude.ai</li>
      <li>Magic scroll</li>
      <li>Figma</li>
      <li>Adobe XD</li>
      <li>ChatGpt</li>
      <li>Git</li>
      <br />
    </TimeLineElement>
    <TimeLineElement title="PT Optimasmartindo industri " subtitle="Staff IT">
      <li>Memperbaiki ketika PC bermasalah</li>
      <li>Konfigurasi jaringan</li>
      <li>Mendesign product barang</li>
      <li>
        Membantu divisi marketing membuat content dan meningkatkan penjualan
      </li>
      <li>Instal ulang</li>
      <li>Mengembangkan project smart city</li>
      <li>Menghandle sosial media</li>
      <li>Menghandle Cctv</li>
      <br />
      Tools
      <li>Tiktok</li>
      <li>Shopee</li>
      <li>Tokopedia</li>
      <li>Canva</li>
      <li>Tiktok</li>
      <li>C#</li>
      <li>Ms.Office</li>
      <li>Boostrap</li>
      <li>Cctv</li>
      <li>Instagram</li>
      <li>Youtube</li>
      <br />
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>Desain Grafis</li>
    <li>Ccna</li>
    <li>3 in 1 (Netwoking, python, automation)</li>
    <li>Fullstack web</li>
    <li>UI/UX</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>JavaScript</li>
    <li>Php</li>
    <li>HTML</li>
    <li>Css</li>
    <li>Codeigniter</li>
    <li>Laravel</li>
    <li>Tailwind</li>
    <li>Nuxt js</li>
    <li>Astro js</li>
    <li>Vue js</li>
    <li>React js</li>
  </ul>
</BaseLayout>
