---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">My Projects</div>
  </div>

  <HorizontalCard
    title="Hospital"
    img="/Hospital.png"
    desc="Website rumah sakit sederhana yang dibuat untuk menyediakan informasi yang ada di dalam rumah sakit tersebut serta terdapat login untuk mengakses dashboard namun masih coming soon"
    customTag="#Reactjs #Fontawesome #Jwt #Reactstrap #Css #Axios"
    url="https://hospital-zaputlah.vercel.app/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="CRUD 1"
    img="/crud1.png"
    desc="Crud sederhana yang bisa melakukan create read ubah delete tapi sebelum melakukan crud di wajibkan untuk login terlebih dahulu"
    customTag="#Reactjs #Redux #Jwt #Bootsrap #Axios"
    url="https://crud-react-redux-tau.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Qoute 1"
    img="/qoute1.png"
    desc="Kumpulan kata kata Bijak dari Orang orang yang ada di luar negeri"
    customTag="#Reactjs #Api #Axios #Css"
    url="https://qoute-chi.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Weather App"
    img="/weatherapp.png"
    desc="pencarian informasi cuaca di suatu tempat"
    customTag="#Reactjs #Api #Css"
    url="https://weatherapp-hazel-three.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Table list"
    img="/tablelist.png"
    desc="Informasi game karakter Apex legend"
    customTag="#Html #Api #Css"
    url="https://qoute-chi.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Movie"
    img="/movie.png"
    desc="Kumpulan Movie dan ranting movie tersebut"
    customTag="#Reactjs #Axios #Css"
    url="https://movie-api-ivory.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Bioskop"
    img="/bioskop.png"
    desc="Kumpulan Film dan Actor"
    customTag="#Reactjs #Axios #Css #ReactBootsrap #Api"
    url="https://bioskop-zaputlah-landingpage.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Todo list"
    img="/todolist.png"
    desc="Sebuah catatan atau agenda yang mau di kerjakan pada hari itu"
    customTag="#Reactjs #Css"
    url="https://react-todo-list-ecru-omega.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Crud 2"
    img="/crud2.png"
    desc="Kumpulan Movie dan ranting movie tersebut"
    customTag="#Reactjs #Fontawesome #ReactBootsrap"
    url="https://crud-zaputlah-react-no-db.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Kalkulator"
    img="/kalkulator.png"
    desc="Alat untuk menghitung"
    customTag="#Javascript #Html #Css"
    url="https://calculator-react-js-xi.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Nembak cewek"
    img="/nembakpacar.png"
    desc="cara memaksa wanita yang di sukai supaya mau menerima"
    customTag="#Javascript #Html #Css"
    url="https://pacar.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Undangan Nikah"
    img="/wedding.png"
    desc="Undangan pernikahan"
    customTag="#Javascript #Html #Css"
    url="https://undangan-mywedding.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Toko Shop"
    img="/myshop.png"
    desc="Sebuah toko shop yang berikan berbagai barang dan terdapar range harga yang bisa di atur untuk mengetahui barang yang mana yang mau di pilih sesuai range harga"
    customTag="#Vuejs #Html #Css"
    url="https://meshop-liard.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Quis 1"
    img="/quis.png"
    desc="sebuah quis sederhana dalam menebak angka"
    customTag="#Html #Javascript #Css"
    url="https://tebakangka.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Analogi"
    img="/analogi.png"
    desc="Sebuah analogi sederhana tentang temen"
    customTag="#Html #Javascript #Css"
    url="https://quotesyangdihindari.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Warung Soto Ayam"
    img="/sotoayam.png"
    desc="Website warung makan soto ayam yang berada di daerah bekasi yang menyediakan berbagai macam menu yang di tawarkan"
    customTag="#Html #Javascript #Css #Bootsrap #Swipper"
    url="https://soto-ayam-salimnur-pondok-ungu-permai-bekasi.vercel.app/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="layanan hiburan digital"
    img="/layananhiburan.png"
    desc="Sebuah layanan hiburan yang berupa tonton dari berbagai jenis"
    customTag="#Reactjs #Vite #Tailwindcss #redux"
    url="https://stream-verse-seven.vercel.app/"
  />
</BaseLayout>
